@import "tailwindcss";

:root {
  --background: #f5f5f4;
  --foreground: #f5f5f4;
;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}
@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f4;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
